<div class="register-container">
  <po-loading-overlay *ngIf="isLoading" [p-screen-lock]="true" p-text="Cadastrando..."></po-loading-overlay>
  <div class="register-box">
    <div class="register-left">
      <div class="register-form">
        <h1>Cadastro</h1>
        <p>Informe seus dados</p>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <div class="avatar-container">
            <po-avatar [p-src]="profileImage" p-size="md"></po-avatar>
            <div class="file-input-container">
              <input type="file" id="fileInput" accept="image/*" (change)="onFileChange($event)" hidden>
              <po-button p-label="Escolher arquivo" (p-click)="triggerFileInput()"></po-button>
              <span>{{ fileName }}</span>
            </div>
          </div>
          <div class="name-email">
            <div>
              <po-input name="firstName" p-label="Nome" [(ngModel)]="firstName" p-clean="true" required></po-input>
            </div>
            <div>
              <po-email name="email" p-label="Email" [(ngModel)]="email" p-clean="true" required></po-email>
            </div>
          </div>
          <div class="password-confirm">
            <div>
              <po-password name="password" p-label="Senha" [(ngModel)]="password" required></po-password>
            </div>
            <div>
              <po-password name="confirmPassword" p-label="Confirme a senha" [(ngModel)]="confirmPassword" required></po-password>
            </div>
          </div>
          <div class="button-container">
            <po-button p-label="CADASTRAR" (p-click)="onSubmit()" type="submit"></po-button>
          </div>
        </form>
        <div class="back-to-login">
          <po-link p-label="Já tem uma conta? Login!" (p-action)="goToLogin()"></po-link>
        </div>
      </div>
    </div>
    <div class="register-right">
      <img src="assets/ovino-register.jpg" alt="Imagem de cadastro">
    </div>
  </div>
</div>
