.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.register-box {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.register-left {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

.register-right {
  flex: 1;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.register-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-form h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.register-form p {
  font-size: 16px;
  margin-bottom: 16px;
}

.register-form form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adicionando gap entre os elementos do formulário */
}

.register-form .avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Reduzindo margem inferior */
}

.register-form .file-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.register-form .name-email,
.register-form .password-confirm {
  display: flex;
  gap: 10px; /* Espaço entre os campos de nome/email e senha/confirmar senha */
}

.register-form .name-email div,
.register-form .password-confirm div {
  flex: 1;
}

.register-form form div {
  margin-bottom: 5px; /* Reduzindo margem inferior */
}

.register-form form po-input,
.register-form form po-email,
.register-form form po-password {
  width: 100%;
}

.button-container {
  text-align: center;
}

.button-container po-button {
  width: 100%;
}

.back-to-login {
  margin-top: 10px;
  text-align: center;
}

.register-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  opacity: 0.9;
}
