<div style="position: relative; margin-top: 20px;">
  <po-button p-label="{{ formButtonLabel }}" p-kind="primary" (p-click)="toggleForm()"></po-button>
  
  <div *ngIf="showForm" class="container" style="position: relative; margin-top: 20px;">
    <po-loading-overlay *ngIf="isLoading" [p-screen-lock]="true" p-text="Carregando..."></po-loading-overlay>
    <h3>Registrar Animal</h3>
    <po-dynamic-form 
      [p-fields]="fields"
      [p-value]="animal">
    </po-dynamic-form>
    <div class="parent-container">
      <div class="parent-container-item">
        <po-dynamic-form 
          [p-fields]="paiFields"
          [p-value]="animal">
        </po-dynamic-form>
      </div>
      <div class="parent-container-item">
        <po-dynamic-form 
          [p-fields]="maeFields"
          [p-value]="animal">
        </po-dynamic-form>
      </div>
    </div>
    <div class="buttons-container">
      <po-button p-label="Cadastrar" p-kind="primary" (p-click)="cadastrar()"></po-button>
      <po-button p-label="Restaurar" p-kind="default" (p-click)="restaurar()"></po-button>
    </div>
  </div>

  <app-register-batch></app-register-batch>
</div>
